@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&display=swap');


/* 
ExtraBold 800
SemiBold 600
Medium 500
Regular 400
*/

*{
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}


body {
  margin: 0;
  
  font-family: "montserrat", serif;
  color: #D9D9D9;

  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  
  background-color: #121517;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-weight: 800;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #D9D9D9;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

.container {
 
  min-width: 1300px;
  margin: 0 auto;
  padding: 15px;
}

.logo {
  font-weight: 800;
  font-size: 37px;
  letter-spacing: -0.03em;
}

.text-gradient {
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 20px 80px;
  border-radius: 83px;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
  font-family: var(--font-family);
  font-weight: 639;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #fff;
}


.link {
  padding: 20px 55px;
  background: #121517;
  border: 1px solid #dadada;
  border-radius: 83px;
  font-size: 24px;
  letter-spacing: -0.03em;
  }

.header .container {
  display: flex;
  align-items: center;
  gap: 94px;
}

.header__nav {
  padding: 50px 0;
}

.header__link + .header__link {
  margin-left: 95px;
}


.main {

}

.welcome {
  margin-top: 30px;

}

.welcome__desc {
  max-width: 574px;
}

.welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.welcome__title {
  margin-bottom: 54px;
  position: relative;
}

.welcome__title::before {
  content: "";

  position: absolute;
  left: 40;
  top: 80;
  z-index: -5;

  display: block;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}

.welcome__text {
  margin-bottom: 55px;
}

.welcome__btns-wrapper {
  display: flex;
  gap: 15px;
  margin-bottom: 54px;
}

.btn {
  padding: 20px 80px;
  border-radius: 83px;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);

  font-family: var(--font-family);
  font-weight: 639;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #fff;
}

.link {
  padding: 20px 55px;
  background: #121517;
  border: 1px solid #dadada;
  border-radius: 83px;
  font-size: 24px;
  letter-spacing: -0.03em;
  }

.stats {
  display: flex;
  gap: 46px;
}

.stats__item {
  width: 126px;
  line-height: 144%;
}

.stats__num {
  font-size: 62px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.stats__num::after {
  content: "+";
  background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
.welcome__img-wrapper {
  padding-right: 60px;
  position: relative;
}

.welcome__img-wrapper::before {
  content: "";
  width: 860px;
  height: 620px;

  position: absolute;
  right: -230px;
  bottom: -180px;

  background-image: url("./images/icons/lines.svg");
  background-size: contain;
  background-position: center;
  z-index: -10;
  background-repeat: no-repeat;
}

.welcome__img-wrapper::after {
  content: "";

  position: absolute;
  left: 40px;
  top: 80px;
  z-index: -5;

  display: block;
  right: 130px;
  bottom: 60px;

  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}

.welcome__btns-wrapper::before {

}

.welcome__img {
  width: 468px;
}



.benefits {
  margin-top: 140px;

}


.benefits__container {
  max-width: 1030px;
  padding-top: 55px;
  padding-bottom: 25px;

position: relative;

  display: flex;
  
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
  border-radius: 46px;
}

.benefits__container::before {
  content: "";

  position: absolute;
  left: 30px;
  top: 10px;
  z-index: -5;

  display: block;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(100px);
}

.benefits__container::after {
  
  content: "we\Ahave";

  white-space: pre_wrap;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  background-image: url("./images/icons/star.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 200px;
  height: 200px;

  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  transform: translate(-50%, -50%);
}

.benefits__item {
  
  max-width: 220px;
  text-align: center;
}

.benefits__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin-bottom: 30px;
}

.benefits__img-wrapper::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;

  border-radius: 100%;
  background: linear-gradient(245deg, #237249 0%);
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}

.benefits__icon {
  width: 146px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;

  transform: translate(-50%, -50%);

}

.benefits__heart {
  top: calc(50% + 10px);
  left: calc(50% +5 px);

}

.benefits__rocket {
  width: 210px;
  top: calc(50% + 10px);
  left: calc(50% - 10px);
}

.benefits__money {
  width: 211px;

}

.benefits__title {
  font-weight: 500;
  font-size: 32px;
  color: #121517;
  margin-bottom: 25px;
}

.benefits__desc {
  line-height: 163%;
  color: rgba(18, 21, 23, 0.9);
}



.history {
  margin-top: 135px;
}

.container {

}

.history__img-wrapper {
    position: relative;
  z-index: 0;
}

.history__img-wrapper::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon(69% 0%, 100% 34%, 100% 100%, 0% 100%, 0% 0%);
  
  top: 25px;
  left: -50px;

  z-index: -1;
  background-color: #237249;
}



.history {

}

.history .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 100px;

}

.history__img {
  width: 465px;
  clip-path: polygon(69% 0%, 100% 34%, 100% 100%, 0% 100%, 0% 0%);
}

.history__text {
  max-width: 457px;
  height: 661px;

}


.history__title {
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
  position: relative;

}

.history__title::before {
  content: "";

  position: absolute;
  right: 60;
  top: 40;
  z-index: -5;

  display: block;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}

.history__text::after {
  content: "";
  width: 860px;
  height: 620px;

  position: absolute;
  right: 70px;
  bottom: -150px;

  background-image: url("./images/icons/lines.svg");
  background-size: contain;
  background-position: center;
  z-index: -10;
  background-repeat: no-repeat;
  transform: rotate(40deg);
}

.history__desk {
  margin-top: 63px;
  letter-spacing: -0.02em;
  color: #d9d9d9;

}

.stats__pic {
  margin-top: 63px;
  width: 447px;
  height: 275px;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 37%, 27% 0%);
}

.products {

}

.product .container {

  
}

.products__text {
  display: flex;
  align-items: center;
  gap: 72px;
  
}


.products__title {
  width: 392px;
  height: 164px;
}

.products__desc {
  width: 444px;
  height: 132px;
}

.products__cards {

}

.card {

}

.card__img-wrapper {

}

.card__img {

}

.card__title {

}

.card__desc {

}

.card__row {

}

.card__price {

}

.card__size {

}

.btn {

}

.card__btn {

}